<div style="height: 100vh">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="container-fluid">
      <!-- Grid row -->
      <div class="row justify-content-center">

        <!-- Grid column -->
        <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">
          <i class="fa fa-question-circle text-warning" aria-hidden="true" style="font-size: 3em;"></i>
          <span class="h3 text-center">Essa página não existe!</span>
          <a class="btn btn-primary btn-rounded" ripple-radius (click)="voltar()">Voltar</a>
        </div>
      </div>
    </div>
  </div>
</div>
